body {
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #a2c2e, #667eea);
  margin: 0;
  padding: 20px;
  color: #222
}

h1 {
  font-size: 26px
  color: blue;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  background: #eee;
  margin: 5px 0;
  padding: 8px;
  border-radius: 4px;
}

.hecha {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
